[build]
  #base    = "subdirectory"
  #publish = "subdirectory/dist/"
  #command = "your build command"
  #base = "/"
  
  base = "/website"
  publish = "website/blog/"
  #
  ignore = "git diff --quiet HEAD^ HEAD -- . ':!website/'"

  #ignore = "git diff --quiet HEAD^ HEAD sub_dir/"
  
  [build.environment]
    NODE_VERSION = "18"
    YARN_VERSION = "1.22.4"


 
[[redirects]]
  from = "/blog/*"
  to = "https://cranky12345.netlify.app/:splat"
  status = 200
